.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Add this to your CSS file */

.cid-list {
  list-style-type: none;
  padding: 0;
  /* margin: 0; */
  font-family: "Press Start 2P", cursive; /* Pixel-art style font */
}

.cid-list li {
  background-color: #f0f0f0;
  border: 3px solid #333;
  color: #333;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.cid-list li:hover {
  background-color: #333;
  color: #f0f0f0;
}

.card-container {
  background-image: url("./data/logo.png");
  background-repeat: no-repeat;
  background-size: 1153px 324px;
  background-position: center;
  position: relative;
  overflow: hidden;
  border: 3px solid #000; /* Solid black border */
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px;
  box-shadow: 5px 5px 0px #000; /* Pixel-art style shadow */
  margin: 25px; /* Add some margin around the card */
  font-family: "Press Start 2P";
  height: 92vh;
}

.card-container-small {
  background-image: url("./data/logo.png");
  background-size: 216px 60px;
  background-position: center;
  position: relative;
  overflow: hidden;
  border: 3px solid #000; /* Solid black border */
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px;
  box-shadow: 5px 5px 0px #000; /* Pixel-art style shadow */
  margin: 0; /* Add some margin around the card */
  font-family: "Press Start 2P";
}

.cid-list-container {
  border: 3px solid #000; /* Solid black border */
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px;
  box-shadow: 5px 5px 0px #000; /* Pixel-art style shadow */
  margin: 20px; /* Add some margin around the card */
  font-family: "Press Start 2P";
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.author-btn {
  background-color: #f0f0f0; /* Adjust as needed */
  border: 2px solid #333;
  margin-right: 5px;
  cursor: pointer;
}

.scrollable-list {
  max-height: 340px; /* Adjust this value as needed */
  overflow-y: auto; /* Enables vertical scrolling */
}
.scrollable-list::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-left: 3px solid #333;
  border-right: 3px solid #333;
}
.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #333;
  border: 2px solid #f0f0f0;
  border-radius: 0; /* Square borders for a pixelated look */
}
.scrollable-list::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

.news-bar {
  position: fixed;
  bottom: 20px;
  border: 2px solid #333;
  cursor: copy;
  left: 40px;
  right: 40px;
  background-color: #f0f0f0; /* Light grey background to match the card-container */
  color: #333; /* Dark text color for contrast */
  padding: 10px 0;
  box-shadow: 5px 5px 0px #000; /* Pixel-art style shadow */
  font-family: "Press Start 2P", cursive; /* Pixel-art style font */
  overflow: hidden;
}

.copy-notification {
  position: fixed;
  top: 42px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border: 3px solid #000; /* Solid black border */
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.9);
  font-size: 1em;
  z-index: 1000; /* Ensure it appears above other content */
}


.news-content {
  white-space: nowrap;
  display: block;
  animation: scrollRightToLeft 45s linear infinite;
  filter: drop-shadow(1px 1px 0 #333); /* Pixel-art style shadow */
}
/* Custom scrollbar track */
.cid-list-container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-left: 3px solid #333;
  border-right: 3px solid #333;
}

/* Custom scrollbar handle */
.cid-list-container::-webkit-scrollbar-thumb {
  background-color: #333;
  border: 2px solid #f0f0f0;
  border-radius: 0; /* Square borders for a pixelated look */
}

/* Custom scrollbar width */
.cid-list-container::-webkit-scrollbar {
  width: 16px; /* Adjust the width of the scrollbar */
}

.logo {
  height: 50px;
}

.connect-btn {
  background-color: #f0f0f0; /* Light grey background */
  border: 3px solid #333; /* Dark border for pixel effect */
  color: #333;
  cursor: pointer;
  font-family: "Press Start 2P"; /* Pixel-art style font */
  padding: 10px 20px;
  font-size: 20px; /* Larger font size */
  transition: all 0.3s ease;
}

.connect-btn:hover {
  box-shadow: 5px 5px 0px #333; /* Drop shadow effect */
  transform: translate(-3px, -3px); /* Slight move to enhance shadow effect */
}

.connect-btn-top {
  background-color: #f0f0f0; /* Light grey background */
  border: 3px solid #333; /* Dark border for pixel effect */
  color: #333;
  /* top:20px; */
  /* right: 20px; */
  bottom: 0;
  cursor: pointer;
  font-family: "Press Start 2P"; /* Pixel-art style font */
  padding: 10px 20px;
  font-size: 20px; /* Larger font size */
  transition: all 0.3s ease;
}

.connect-btn-top:hover {
  box-shadow: 5px 5px 0px #333; /* Drop shadow effect */
  transform: translate(-3px, -3px); /* Slight move to enhance shadow effect */
}

.buttons-container-top-right {
  position: absolute; /* or 'fixed' if you want it to stay in place while scrolling */
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 1000;
}

.horizontal-container {
  display: flex; /* Enables Flexbox */
  align-items: center; /* Vertically centers the items in the container */
  justify-content: center; /* Horizontally centers the items in the container */
  gap: 6%;
  margin:8%;
  /* margin-top: 10%;
  margin-right: 8%;
  margin-left: 8%; Optional: Adds space between the elements */
}

.rnd-container-video {
  background-image: url("./data/logo.png");
  background-repeat:round;
  background-size: 384px 60px;
  background-position: center;
  border: 3px solid #333; /* Pixel-art style border */
  background-color: #f0f0f0; /* Light grey background */
  box-shadow: 5px 5px 0px #000; /* Pixel-art style shadow */
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  min-width: 640px;
  min-height: 500px;
  z-index: 2;
}

.rnd-container-cid {
  background-image: url("./data/logo.png");
  background-repeat:repeat-y;
  background-size: 384px 60px;
  background-position: center;
  border: 3px solid #333; /* Pixel-art style border */
  background-color: #f0f0f0; /* Light grey background */
  box-shadow: 5px 5px 0px #000; /* Pixel-art style shadow */
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  min-width: 480px;
  min-height: 340px;
  z-index: 4;
}

.rnd-container-chat {
  background-image: url("./data/logo.png");
  background-repeat:round;
  background-size: 216px 40px;
  background-position: center;
  border: 3px solid #333; /* Pixel-art style border */
  background-color: #f0f0f0; /* Light grey background */
  box-shadow: 5px 5px 0px #000; /* Pixel-art style shadow */
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  min-width: 350px;
  min-height: 400px;
  z-index: 1;
}

.window-header {
  background-color: #282c34; /* Dark background for header */
  color: white;
  padding: 5px;
  text-align: left;
}

.close-btn {
  background-color: #333; /* Red background for close button */
  color: white;
  border: 5px 5px 0 #000;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  padding: 0 5px;
}

.close-btn:hover {
  background-color: #a00; /* Darker red on hover */
}

.top-left-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #f0f0f0; /* Light grey background */
  border: 3px solid #333; /* Solid dark border */
  padding: 10px;
  box-shadow: 5px 5px 0px #000; /* Pixel-art style shadow */
  font-family: 'Press Start 2P', cursive;
  z-index: 100; /* Ensure it's above other elements */
  cursor: pointer;
}

.top-left-menu div {
  margin-bottom: 5px;
}

.top-left-menu label {
  margin-left: 5px;
  color: #333; /* Dark text color */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for labels */
.top-left-menu label:hover {
  color:rgba(244, 0, 65, 0.7); /* Bright color for hover state */
}

/* Customizing the checkbox to fit the pixel-art style */
.top-left-menu input[type="checkbox"] {
  accent-color: #333;
  cursor: pointer;
}

/* Hover effect for checkboxes */
.top-left-menu input[type="checkbox"]:hover {
  accent-color: #333;
}

.video-player {
  width: auto;
  position: relative;
  border: 4px solid #333; /* Pixel-art style border */
  display: flex;
  margin: auto; /* Center the video player */ /* Adjust as needed */
  box-shadow: 5px 5px #000; /* Optional: Adds a pixel-art style shadow */
}



video {
  width: 100%;
  height: auto;
}

.media-player.video {
  border: 4px solid #333; /* Pixel-art style border */
  display: block;
  margin:auto; /* Center the video player */
  max-width: 640px; /* Adjust as needed */
  box-shadow: 5px 5px #000; /* Styles specific to video files */
}

.media-player.audio {
  font-family: "Press Start 2P", cursive; /* Pixel-art style font */
  background-color: #f0f0f0; /* Light grey background */
  border: 3px solid #333; /* Solid dark border */
  padding: 10px;
  box-shadow: 5px 5px 0px #333; /* Pixel-art style shadow */
  width: max-content;
  margin: 42px auto;
}

.body-container {
  align-content: center;
  align-items: center; /* Vertically center align */
  /* justify-content: space-around; Space out children evenly */
  /* Add any additional styling */
}

/* Example styles - adjust as needed */
.video-player-container {
  flex: 1; /* Flex-grow to take available space */
  padding: 10px;
  /* Add any additional styling */
}

.cid-list-container {
  flex: 2; /* Flex-grow to take available space */
  padding: 10px;
  max-width: 640px;
  align-items: center;
  margin: auto;
  /* Add any additional styling */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
